@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:wght@300&display=swap");

/* colors / styles here */
:root {
  --borderRadius: 20px;
  --darkblue: #09093b;
  --brightblue: #01a9e6;
  --green: #80dd47;
  --red: #ff5858;
  --grey: #b5b5b5;
<<<<<<< HEAD
  --yellow: #FFC700;
  --brown: #511D00;
=======
  --darkred: rgb(198, 28, 28);
>>>>>>> bd252493e9df38a8eb7dadbb4efe1c686a34494f
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}
